main{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* card */
.parent{
    position: relative;
    width: 100%;
    height: 400px;
}
.parent2{        
    position: relative;
    width: 100%;
    height: 1600px;
}
.box{
    width: 300px;
    height: 300px;
    position: absolute;
    padding: 10px 10px 10px 10px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 15px;
}
.box2{
    width: 700px;
    height: 300px;
    border: 1px solid lightblue;
    position: absolute;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px gray;
}
/* /card */


/* cardtest */
.section input[id*="slide"]{
    display: none;
}
.section .slidewrap{
    /* background-color: cornflowerblue; */
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s;
}
.section .slidelist > li > a{
    display: block;
    position: relative;
    overflow: hidden;
}
.section .slidelist > li > a img{
    width: 100%;
    /* background-color: coral; */
}
.section .slidelist label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding:50px;
    cursor: pointer;
}
.section .slidelist .left{
    left: 30px;
    background:url(../images/left-arrow.png) center center/100% no-repeat;
}
.section .slidelist .right{
    right: 30px;
    background: url(../images/right-arrow.png) center center / 100% no-repeat;
}
.section input[id="slide01"]:checked~ .slidewrap .slidelist > li{transform: translateX(0%);}
.section input[id="slide02"]:checked~ .slidewrap .slidelist > li{transform: translateX(-100%);}
.section input[id="slide03"]:checked~ .slidewrap .slidelist > li{transform: translateX(-200%);}
/* /cardtest */
.recomand{
    display: flex;
    justify-content: center;
    padding: 1%;
}
.item{
    /* border: 2px solid black; */
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}.item>*{
    margin-bottom: 2%;
}

#name{
    font-size: 2rem;
}
.book_container{
    display: flex;
    justify-content: center;
}
.book_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    margin: 2%;   
}
.shadow{filter: drop-shadow(5px 5px 5px #6d6c6c);}
.img_box{
    /* border-radius: 15px; */
    box-shadow: 8px 5px 5px 5px #909090;
}
h3{
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 8%;

}
input[id*="heart"]{
    display: none;
}
.heart{
    /* 원만들기 */
    border-radius: 50% ;
    width: 60px;
    height: 55px;
    border: 0px;
    /* 이미지넣기 */
    background: url(../images/white_heart.png) center center/50% no-repeat;
    cursor: pointer;
    /* 위치 */
    position:relative;
    top: -25%;
    right: -45%;
    background-color: #C389DA;
    transition: all 0.1s;
   
}
input[id*="heart"]:checked ~ .heart{
    background: url(../images/red_heart.png) center center /50% no-repeat;
    background-color: #C389DA;
}

.more_book{
    /* line-height: 1.5rem; */
    font-weight: bold;
    /* font-size: 2rem; */
    text-decoration:underline;
    color: #553607;
}
